<div class="about-page">
  <header class="pageHeader">
    <h1><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{companyName}}</h1>
  </header>

  <div class="reduced-font text-link" [@fadeInOut]>
     <h3>
      Qualche informazione su di noi
    </h3>
    <hr />
    <h5>La nostra sede principale si trova in:</h5>
    <ul>
      <li>Indirizzo: {{companyAddress}}</li>
      <li>Città: {{companyPostalCode}} - {{companyCity}}</li>
      <li>Paese: {{companyCountry}}</li>      
    </ul>
    <hr />
    <h5>I recapiti della nostra sede principale</h5>
    <ul>
      <li>Email: {{companyEmail}}</li>
      <li>Numero di Telefono: {{companyPhoneNumber}}</li>
      <li>Numero di Fax: {{companyFaxNumber}}</li>
    </ul>
    <hr />
    <h5>Informazioni società</h5>
    <ul>
      <li>Capitale Sociale: {{companyCapitaleSociale}}</li>
    </ul>
    <hr />
    <h5>Descrizione:</h5>
    <div *ngFor="let item of companyDescriptionList">
      <p>{{item}}</p>
    </div>
  </div>
</div>
