<div class="about-page">
  <header class="pageHeader">
    <h1><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{aboutCompany?.name}}</h1>
  </header>

  <div class="reduced-font text-link" [@fadeInOut]>
    <div class="container">
      <div class="row">        
        <div class="col-12">
          <p>{{aboutCompany?.description1}}</p>
        </div>
      </div>      
      <div class="row">
        <div class="col-12">
          <p>{{aboutCompany?.description2}}</p>
        </div>
      </div>      
      <div class="row">
        <div class="col-12">
          <p>{{aboutCompany?.description3}}</p>
        </div>
      </div>      
      <div class="row">
        <div class="col-12">
          <p>{{aboutCompany?.description4}}</p>
        </div>
      </div>      
      <div class="row">
        <div class="col-12">
          <p>{{aboutCompany?.description5}}</p>
        </div>
      </div>      
      <div class="row">
        <div class="col-12">
          <p>{{aboutCompany?.description6}}</p>
        </div>
      </div>      
      <div class="row">
        <div class="col-12">
     <h3>
      Qualche informazione in più su di noi
    </h3>
        </div>
      </div>
    <hr />
    <div class="row">
    <div class="col-6">
    <h5>La nostra sede principale si trova in:</h5>
    </div>
    <div class="col-6"><h5>I recapiti della nostra sede principale</h5></div>
    </div>
    <div class="row">
      <div class="col-5 offset-1">
    <ul>
      <li>Indirizzo: {{aboutCompany?.address}}</li>
      <li>Città: {{aboutCompany?.postalCode}} - {{aboutCompany?.city}}</li>
      <li>Paese: {{aboutCompany?.country}}</li>      
    </ul></div>
    <div class="col-5 offset-1">
        <ul>
      <li>Email: {{aboutCompany?.email}}</li>
      <li>Numero di Telefono: {{aboutCompany?.phoneNumber}}</li>
      <li>Numero di Fax: {{aboutCompany?.faxNumber}}</li>
    </ul>
    </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12">
    <h5>Informazioni società</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
    <ul>
      <li>Capitale Sociale: {{aboutCompany?.socialCapital}}</li>
    </ul>
      </div>
    </div>
    <hr />    
  </div>
</div>
