<header class="pageHeader">
  <h3><i class="fa fa-handshake-o fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.Customers' | translate}}</h3>
</header>

<div [@fadeInOut]>
 <div class="row control-box">
  <div class="col-lg-12">
    <div class="search-box">
      <app-search-box (searchChange)="updateFilter($event)" placeholder="{{'todoDemo.management.Search' | translate}}"></app-search-box>      
    </div>
  </div>
  <ngx-datatable class="material colored-header sm table-x table-striped table-hover"
    [loadingIndicator]="loadingIndicator"
    [rows]="rows"
    [rowHeight]="40"
    [headerHeight]="45"
    [footerHeight]="45"
    [columnMode]="'force'"
    [columns]="columns"
    [scrollbarV]="verticalScrollbar"
    [columnMode]="'force'"
    [limit]="pageSize"
    [selectionType]="'single'">
    <ngx-datatable-column name="" prop="index" [resizeable]="false"  [maxWidth]="10">
      <ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
    </ngx-datatable-column>
      <ngx-datatable-column name="Nominativo" prop="fullName" [resizeable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Codice Fiscale" prop="taxIdCode" [resizeable]="false" [maxWidth]="140">
        <ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Data di Nascita" prop="birthDate" [resizeable]="false"  [maxWidth]="120">
        <ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Sesso" prop="gender" [resizeable]="false" [maxWidth]="80">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <p *ngIf="isCustomerMale(row)"><i class="fa fa-male"></i></p>
          <p *ngIf="!isCustomerMale(row)"><i class="fa fa-female"></i></p>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Residenza" prop="residence" [resizeable]="false" [maxWidth]="140">
        <ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
      </ngx-datatable-column> 
      <ngx-datatable-column name="Stato" prop="state" [resizeable]="false" [maxWidth]="80">
        <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
          <p *ngIf="isCustomerActive(row)"><i class="fa fa-check"></i></p>
          <p *ngIf="!isCustomerActive(row)"><i class="fa fa-times"></i></p>
        </ng-template>
      </ngx-datatable-column>  
      <ngx-datatable-column name="Azioni" sortable="false" prop="actions">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <a *ngIf="isCustomerActive(row)" class="btn btn-link text-link btn-sm" href="javascript:;" (click)="detailsCustomer(row)"><i class="fa fa-eye" aria-hidden="true"></i> Dettagli</a> 
          <a *ngIf="isCustomerActive(row)" class="btn btn-link text-link btn-sm" href="javascript:;" (click)="editCustomer(row)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Modifica</a>
          <a *ngIf="isCustomerActive(row)" class="btn btn-link text-link btn-sm" href="javascript:;" (click)="deleteCustomer(row)"><i class="fa fa-trash-o" aria-hidden="true"></i> Rimuovi</a> 
        </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>  
</div>
</div>