<ul class="nav nav-pills flex-column flex-lg-row flex-fill">
    <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <a class="nav-link" routerLink=""><i class="fa fa-home"></i></a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="canViewCustomers">
      <a class="nav-link" routerLink="/customers">{{'mainMenu.Customers' | translate}}</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="canViewProducts">
      <a class="nav-link" routerLink="/products">{{'mainMenu.Products' | translate}}</a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="canViewOrders">
      <a class="nav-link" routerLink="/orders">{{'mainMenu.Orders' | translate}}</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/about">{{'mainMenu.About' | translate}}</a>
    </li>
    <li class="nav-item ms-lg-auto me-lg-2" routerLinkActive="active">
      <a class="nav-link" routerLink="/settings"><i class="fa fa-cog"></i></a>
    </li>
  </ul>
