<div class="row">
    <div class="col-4">
        <h6><strong>Nominativo</strong></h6><p>{{ this?.customerHeader?.fullName }}</p>
    </div>
    <div class="col-8">
        <h6><strong>Residenza</strong></h6><p>{{ this?.customerHeader?.address }}</p>
    </div>
</div>
    <div class="row">
        <div class="col-4">
            <h6><strong>Telefono</strong></h6><p>{{ this?.customerHeader?.phone}}</p>
        </div>
    <div class="col-8">
        <h6><strong>Email</strong></h6><p>{{ this?.customerHeader?.email}}</p>
    </div>
</div>
