<div class="row back-style">
        <div class="col-4">
            <app-insurance-coverage-recommender></app-insurance-coverage-recommender>            
        </div>
        <div class="col-4">
            <app-insurance-coverage-top-selling></app-insurance-coverage-top-selling>            
        </div>
        <div class="col-4">
            <app-insurance-coverage-other></app-insurance-coverage-other>
        </div>
    <!-- <div class="row">
        <div class="col-12">
            <p>insurancecoverage works!</p>
        </div>
    </div> -->
</div>