<div class="row dash-header">
  <div class="col-12">
    <div class="row title-section-header">
      <div class="col-10">
        <h3>{{ this?.title }}</h3>
      </div>
      <div class="col-2 text-align-right">
        <a *ngIf="!IsShowen()" (click)="Show()" class="btn btn-link text-link btn-sm" href="javascript:;"><i class="fa fa-expand" aria-hidden="true"></i> Espandi</a>
        <a *ngIf="IsShowen()" (click)="Hide()" class="btn btn-link text-link btn-sm" href="javascript:;"><i class="fa fa-compress" aria-hidden="true"></i> Comprimi</a>
      </div>
    </div>
    <div class="row">
      <div class="col-12" *ngIf="IsShowen()">
        <div class="row">
          <div class="col-sm-6" *ngFor="let item of insuranceCoverageCards">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-card-title" [appTxtStyle]="item.salesLineBackgroundColor">
                  <i class="fa-solid" [appIconStyle]="item?.iconCssClass"></i>  {{ item.name }} - <i><small>Linea Prodotto: {{ item.salesLineName }}</small></i></h5>
                <p class="card-text">{{ item.abstract }}</p>
                <div class="form-check form-switch">
                  <input class="form-check-input" (change)="selectItem($event)" [value]="item.code" type="checkbox" id="flexSwitchCheckChecked">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Spunta la casella per aggiungere il bene</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
