<div *ngIf="isShowInsuranceCoverage()">
    <div class="row">
        <div class="col-2"><h6>Identificativo Polizza</h6></div>
        <div class="col-2"><h6>Tipologia Polizza</h6></div>
        <div class="col-4"><h6>Descrizione Oggetto Assicurato</h6></div>
        <div class="col-1"><h6>Emissione</h6></div>
        <div class="col-1"><h6>Scadenza</h6></div>
        <div class="col-2"><h6>Premio Totale</h6></div>
    </div>
        <div class="row" *ngFor="let item of insuranceCoverageList; let i = index">
            <div class="col-2">{{ item.code}}</div>
            <div class="col-2">{{ item.categoryType }}</div>
            <div class="col-4">{{ item.itemDescription }}</div>
            <div class="col-1">{{ item.issueDate }}</div>
            <div class="col-1">{{ item.expiryDate }}</div>
            <div class="col-2">{{ item.totalPrice }}</div>
        </div>    
</div>