<div *ngIf="isShowInsuranceCoverage()">   
    <ngx-datatable class="material colored-header sm table-x table-striped table-hover"
    [loadingIndicator]="loadingIndicator"
    [rows]="rows"
    [rowHeight]="40"
    [headerHeight]="45"
    [footerHeight]="45"
    [columnMode]="'force'"
    [columns]="columns"
    [scrollbarV]="verticalScrollbar"
    [columnMode]="'force'"
    [limit]="pageSize"
    [selectionType]="'single'">
    <ngx-datatable-column name="Identificativo Polizza" prop="code" [resizeable]="false" [maxWidth]="160">
    <ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
    </ngx-datatable-column>
        <ngx-datatable-column name="Tipologia Polizza" prop="categoryType" [resizeable]="false" [maxWidth]="160">
        <ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descrizione Oggetto Assicurato" prop="itemDescription" [resizeable]="false" [sortable]="false">
        <ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Data Emissione" prop="issueDate" [resizeable]="false" [maxWidth]="140">   
        </ngx-datatable-column>
        <ngx-datatable-column name="Data Scadenza" prop="expiryDate" [resizeable]="false" [maxWidth]="140">
        <ng-template ngx-datatable-cell-template let-value="value">{{value}}</ng-template>
        </ngx-datatable-column> 
        <ngx-datatable-column name="Premio Totale" prop="totalPrice" [resizeable]="false" [sortable]="false" [maxWidth]="140">   
        </ngx-datatable-column>      
    </ngx-datatable>          
</div>