.recommender-style {
    background-color: #009900;
    color: #DEE2E6;
    font-weight: bold;
}

.top-selling-style {
    background-color: #00CC66;
    color: #DEE2E6;
    font-weight: bold;
}

.other-style {
    background-color: #CC6600;
    color: #DEE2E6;
    font-weight: bold;
}