<footer class="footer fixed-bottom">
    <div class="container">
      <p class="text-center text-muted">
        <span style="font-style:italic">quick</span>App &copy; {{ currentDate | date: 'y'}}
        <a class="text-link" href="https://www.ebenmonney.com" target="_blank">www.ebenmonney.com</a>
        <span class="small display-none">- Powered by <a href="https://www.ebenmonney.com/quickapp" target="_blank"><span style="font-style:italic">quick</span>App</a></span>
      </p>
    </div>
  </footer>

