<div class="app-component app-container">
  <ngx-toasta></ngx-toasta>

  <a class="close-navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target=".menuItemsContainer">
  </a>

  <app-header></app-header>
  <div id="pre-bootstrap" *ngIf="!isAppLoaded" class="prebootStep prebootShow">
    <div class="messaging">
      <h1>
        Loaded!
      </h1>
      <p>
        QUICK APPLICATION SYSTEM - <span style="font-style:italic">quick</span>App &copy; <a class="text-link" href="https://www.ebenmonney.com">WWW.EBENMONNEY.COM</a>
      </p>

    </div>
  </div>

  <main class="container-xl px-3 px-md-4 px-xxl-5">
    <router-outlet></router-outlet>
    <div class="footer-height"></div>
  </main>

<app-footer></app-footer>
</div>
