<div class="row title-background">
    <div class="title-background-col">
        <h5>Beni selezionati</h5>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1">
       <div class="row">
            <div class="col-3">
                <div class="insurance-coverage-btn vehicle-insurance-coverage-btn"><i class="fa-solid fa-ship"></i> Imbarcazioni</div>
            </div>
            <div class="col-3">
                <div class="insurance-coverage-btn health-insurance-coverage-btn"><i class="fa-solid fa-stethoscope"></i> Visita Specialistica</div>
            </div>
            <div class="col-3">
                <div class="insurance-coverage-btn travel-insurance-coverage-btn"><i class="fa-solid fa-suitcase-rolling"></i> Bagaglio</div>
            </div>
            <div class="col-3">
                <div class="insurance-coverage-btn family-insurance-coverage-btn"><i class="fa-solid fa-paw"></i> Animale Domestico</div>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="insurance-coverage-btn work-insurance-coverage-btn"><i class="fa-solid fa-industry"></i> Impianti Industriali</div>
            </div>
            <div class="col-3">
                <div class="insurance-coverage-btn heritage-insurance-coverage-btn"><i class="fa-solid fa-gem"></i> Bene di lusso</div>
            </div>
    </div>
</div>