<div class="row title-background">
    <div class="title-background-col">
        <h2>Beni selezionati</h2>
    </div>
</div>
<div class="row">
    <div class="col-10 offset-1">
        <div class="row">
            <div class="col-3" *ngFor="let item of this.insuranceCoveragePolicies">
                <div class="insurance-coverage-btn" [appDivStyle]="item?.salesLineBackgroundCssClass" data-code="item?.code">
                    <i class="fa-solid" [appIconStyle]="item?.iconCssClass"></i> {{ item?.name }}</div>
            </div>
        </div>       
</div>
<div class="row">
    <div class="col-12">
        <a *ngIf="IsShowButton()" class="btn btn-social insurance-coverage-btn btn-footer" href="javascript:;"><i class="fa-solid fa-circle-arrow-right"></i> Avvia Emissione</a>   
    </div>
</div>