.title-background {
    background-color: #0066CC;
    color: #E6E6E6;
}

.title-background-col {
    padding: 10px;
}

.insurance-coverage-btn {
    border: none;
    color: #E6E6E6;
    font-weight: bold;
    margin: 15px 5px 15px 5px;
    padding: 10px 10px 10px 10px;
    min-height: 25px;
    min-width: 120px;
    text-align: left;    
    vertical-align: middle;
}

.vehicle-insurance-coverage-btn {
    background-color: #FF0000;
}

.health-insurance-coverage-btn {
    background-color: #00CCCC;
}

.travel-insurance-coverage-btn {
    background-color: #CC0066;
}

.family-insurance-coverage-btn {
    background-color: #FF00FF;
}

.work-insurance-coverage-btn {
    background-color: #00CC00;
}

.heritage-insurance-coverage-btn {
    background-color: #FF8000;
}

.btn-footer{
    background-color: #0066CC;
    float: right;
    margin-right: 0;
}